*.gem
*.log
*.rbc
.bundle
.claude/
.config
.idea/
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage*/
doc/
lib/bundler/man
mac-wifi-error-stack-trace.txt
pkg
rdoc
rspec-errors.txt
spec/reports
test/tmp
test/version_tmp
tmp
untracked/
