_yardoc
.bundle
.claude/
.config
.idea/
.yardoc
*.gem
*.log
*.rbc
coverage*/
doc/
Gemfile.lock
InstalledFiles
lib/bundler/man
mac-wifi-error-stack-trace.txt
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
untracked/
